/* MyDigitalAssets */
.MyDigitalAssets-Head{
  display: flex;
  align-items: center;
  margin: 1rem;
}
.MyDigitalAssets-Head button{
  width: 5rem;
  height: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
  background-color: cornflowerblue;
  border:0;
  color:#fff;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.MyDigitalAssets-Box{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}
.MyDigitalAssets-Box-item{
  width: 16rem;
  height: 24rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.MyDigitalAssets-Box-item-info{
  /* text-indent: 1rem; */
  height: 5rem;
}
.MyDigitalAssets-Box-item-info h3{
  font-size: 20px;
  margin: 1rem;
  margin-top: 3.5rem;
}
.MyDigitalAssets-Box-item-info p{
  font-size: 14px;
  height: 2rem;
  margin-left: 1rem;
}
.MyDigitalAssets-Box-item-price{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex:1;
  margin-top: 1rem;
}