/* SellDigitalAsset */
.SellDigitalAsset-Box-Head{
  display: flex;
  align-items: center;
  margin: 1rem;
}
.SellDigitalAsset-Box-Head button{
  width: 5rem;
  height: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
  background-color: cornflowerblue;
  border:0;
  color:#fff;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.SellDigitalAsset-Box-content{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}
.SellDigitalAsset-Box-content-item {
  width: 16rem;
  height: 28rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.SellDigitalAsset-Box-content-item-info-name {
  text-indent: 1rem;
  font-size: 20px;
  font-weight: bold;
  /* line-height: 3rem; */
  margin-bottom:1rem ;
  margin-top: 4rem;
}
.SellDigitalAsset-Box-content-item-Btn {
  flex: 1;
  background-color: #000;
  color: #fff;
  border-radius: 0 0 0.5rem 0.5rem;
  -webkit-border-radius: 0 0 0.5rem 0.5rem;
  -moz-border-radius: 0 0 0.5rem 0.5rem;
  -ms-border-radius: 0 0 0.5rem 0.5rem;
  -o-border-radius: 0 0 0.5rem 0.5rem;
}
.SellDigitalAsset-Box-content-item-Btn button {
  width: 15rem;
  height: 1.5rem;
  background-color: #ea4c98;
  border: 0;
  color: #fff;
  border-radius: 0.2rem;
  margin:0 0.5rem 0.5rem 0.5rem ;
  cursor: pointer;
  margin-top: 1.5rem;
}
